@charset "UTF-8";

 
.admin_list_01{
    background-color: #c8c8c8;
} 
 
 
/* 관리자페이지 컨텐츠 영역 */
.admin_content_wrap{
    width: 80%;
    float:left;
    min-height: 700px;
    
}
.admin_content_subject{            /* 관리자 컨텐츠 제목 영역 */
    font-size: 40px;
    font-weight: bolder;
    padding-left: 15px;
    background-color: #6AAFE6;
    height: 80px;
    line-height: 80px;
    color: white;    
}
 
 /* 관리자 컨텐츠 메인 영역 */
.form_section{
	width: 95%;
    margin-left: 2%;
    margin-top: 20px;
    border: 1px solid #dbdde2;
    background-color: #efefef;	
}
.form_section_title{
	padding: 20px 35px;	
}
.form_section_title label{
	display: block;
    font-size: 20px;
    font-weight: 800;
}
.form_section_content{
	padding: 20px 35px;
    border-top: 1px solid #dbdde2;	
}
.form_section_content input{
	width: 98%;
    height: 35px;
    font-size: 20px;
    padding: 5px 1%;
}
.form_section_content select{
	width: 98%;
    height: 35px;
    font-size: 20px;
    text-align-last: center;
}

/* ckeditor 높이 */
.ck-content {
    height: 170px;
}

/* 캘린더 css 설정 */
.ui-datepicker-trigger {						
    margin-left: 25px;
    width: 14%;
    height: 38px;
    font-weight: 600;
    background-color: #dfe8f5;
    font-size: 15px;
    cursor:pointer;
}
input[name='publeYear'] {
    width: 80%;
    text-align: center;
}

/* 작가 선택 css 설정 */
.authorId_btn {						
    margin-left: 20px;
    width: 14%;
    height: 38px;
    font-weight: 600;
    background-color: #dfe8f5;
    font-size: 15px;
    cursor:pointer;
}
#authorName_input {
    width: 80%;
    text-align: center;
}

/* 카테고리 css 설정 */
.form_section_content select {		
    width: 92%;
    height: 35px;
    font-size: 17px;
    text-align-last: center;
    margin-left: 5px;
}
.cate_wrap span {
    font-weight: bold;
    position: relative;
}
.cate_wrap:not(:first-child) {
    margin-top: 20px;
}

/* 입력란 공란 경고 태그 */
.ck_warn{						
	display: none;
    padding-top: 10px;
    text-align: center;
    color: #e05757;
    font-weight: 300;    
}

/* 할인 가격 문구 */
.step_val{						
	display: block;
    padding-top: 5px;
    font-weight: 500;
}

/* 버튼 영역 */
.btn_section{
	text-align: center;
	margin: 40px 0;
}
.btn{
    min-width: 180px;
    padding: 4px 30px;
    font-size: 25px;
    font-weight: 600;
    line-height: 40px;
}
.enroll_btn{
	background-color: #dbdde2;
	margin-left:15px;
}
#enrollBtn:hover {
    background-color: #c9cbd0;
}
 
 
/* float 속성 해제 */
.clearfix{
    clear: both;
}