@charset "UTF-8";

/* 
.admin_list_01{
    background-color: #c8c8c8;
} */
 
 
/* 관리자페이지 컨텐츠 영역 */
.admin_content_wrap{
    width: 80%;
    float:left;
    min-height: 700px;
    
}
.admin_content_wrap div{
    margin-top: 280px;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
}
 
 
 
 
/* float 속성 해제 */
.clearfix{
    clear: both;
}