@charset "UTF-8";

/* 검색결과 없음 */
.table_empty {
	height: 50px;
	text-align: center;
	margin: 200px 0 215px 0px;
	font-size: 25px;
}

/* 상품 이미지 관련 */
.image_wrap {
	width: 100%;
	height: 100%;
}

.image_wrap img {
	max-width: 85%;
	height: auto;
	display: block;
}

/* 상품 표 */
.list_search_result {
	width: 90%;
	margin: auto;
}

.type_list {
	width: 100%;
	border-bottom: 1px solid #e7e7e7;
	border-collapse: collapse;
}

.type_list tr {
	height: 200px;
	border-bottom: 1px solid #e7e7e7;
}

.detail div {
	margin-bottom: 5px;
}

.category {
	font-size: 12px;
	font-weight: 600;
}

.title {
	font-size: 20px;
	color: #3a60df;
	font-weight: 700;
}

.author {
	font-size: 14px;
}

.info {
	text-align: center;
}

.price {
	text-align: center;
}

.org_price del {
	font-size: 13px;
}

.sell_price strong {
	color: #da6262;
	font-size: 18px;
}

/* 로그인 버튼 영역 */
.login_area {
	width: 25%;
	height: 100%;
	display: inline-block;
	text-align: center;
}

.login_button {
	height: 50%;
	background-color: #D4DFE6;
	margin-top: 30px;
	line-height: 77px;
	font-size: 40px;
	font-weight: 900;
	border-radius: 10px;
	cursor: pointer;
}

.login_area>span {
	margin-top: 10px;
	font-weight: 900;
	display: inline-block;
}

.login_button {
	height: 50%;
	background-color: #D4DFE6;
	margin-top: 30px;
}

/* 제품 목록 네비 */
.navi_bar_area {
	width: 100%;
	height: 70px;
	background-color: #7696fd;
}

/* 홈페이지 메인 제품 목록  */
.content_area {
	width: 100%;
	min-height: 1000px;
}

/* 필터정보 */
.search_filter {
    width: 85%;
    margin: auto;
	margin-top: 30px;
    margin-bottom: 50px;    
} 
.filter_button{
	background-color: #04AA6D;
	border: 1px solid green;
	color: white;
	padding: 10px 24px;
	cursor: pointer;
	float: left;
} 
.filter_button_wrap {
    width: 100%;
}

.filter_button_wrap button {
    width: 50%;
}

.filter_button_wrap:after {
    content: "";
    clear: both;
    display: table;
}  	
.filter_button_wrap button:not(:last-child) {
    border-right: none;
}

.filter_button:hover {
    background-color: #3e8e41;
}

.filter_active{
	background-color: #045d3c;
}

.filter_content{
	padding:20px 50px 20px 50px;
	border: 1px solid gray;
}

.filter_content a:not(:first-child){
	margin-left: 10px;
}

.filter_a{
	display: block;
}

.filter_b{
	display: none;
}

/* 페이지 버튼 인터페이스 */
.pagination {
	margin-top: 20px;
	justify-content: center;
}

/* float 속성 해제 */
.clearfix {
	clear: both;
}