* {
	margin: 0;
	padding: 0;
}

a:not([class]) {
	color: black;
	text-decoration: none;
}

a:not([class]):hover {
	text-decoration: underline;
}

ul {
	list-style: none;
}
/* 力前 格废 匙厚 */
.navi_bar_area {
	overflow: hidden;
	background-color: #5e6b9e;
}

.navi_bar_area a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.dropdowns {
	float: left;
	overflow: hidden;
	margin-left: 10px;
}

.dropdowns .dropbtn {
	font-size: 16px;
	font-weight: bold;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
	width: 140px;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	width: 466px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	float: none;
	font-size: 12px;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: inline-block;
	text-align: left;
	width: 104px;
}

.dropdowns:hover .dropdown-content {
	display: block;
}

.navi_bar_area a:hover, .dropdown:hover .dropbtn {
	background-color: #475382;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

/* 包府磊其捞瘤 牧刨明 康开 */
.admin_content_wrap {
	width: 80%;
	float: left;
	min-height: 700px;
	padding-left: 10px;
	font-size: 14px;
}

.admin_content_subject { /* 包府磊 牧刨明 力格 康开 */
	font-size: 40px;
	font-weight: bolder;
	padding-left: 15px;
	background-color: #6AAFE6;
	height: 80px;
	line-height: 80px;
	color: white;
}

.support_snb {
	float: left;
	width: 180px;
	margin-left: 10px;
	display: inline-block;
}

.support_snb li{
	list-style: square;
	font-size: 19px;
	margin-bottom: 15px;
}

.support_snb li:hover{
	background-color: #4d4d4d;
	color: white;
}

.cscenter_h2 {
	height: 35px;
	padding-bottom: 8px;
	overflow: hidden;
	border-bottom: 2px solid #565656;
}

.content_area{
	color: #4d4d4d;
	margin-left: 210px;	
}

.cscenter_shortcut{
	margin-left: 210px;	
	border: 1px solid #199ad8;
}

.cscenter_shortcut h3 {
    clear: both;
    float: left;
    width: 158px;
    border-top: 1px solid #aacada;
    font-size: 16px;
    line-height: 18px;
    height: 50px;
    color: #055ecd;
}

.cscenter_shortcut ul li {
    float: left;
    width: 115px;
}
.cscenter_shortcut ul {
    float: right;
}

/* float 加己 秦力 */
.clearfix {
	clear: both;
}