* {
	margin: 0;
	padding: 0;
}

a:not([class]) {
	color: black;
	text-decoration: none;
}

a:not([class]):hover {
	text-decoration: underline;
}

ul {
	list-style: none;
}
/* 제품 목록 네비 */
.navi_bar_area {
	overflow: hidden;
	background-color: #5e6b9e;
}

.navi_bar_area a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.dropdowns {
	float: left;
	overflow: hidden;
	margin-left: 10px;
}

.dropdowns .dropbtn {
	font-size: 16px;
	font-weight: bold;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
	width: 140px;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	width: 466px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	float: none;
	font-size: 12px;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: inline-block;
	text-align: left;
	width: 104px;
}

.dropdowns:hover .dropdown-content {
	display: block;
}

.navi_bar_area a:hover, .dropdown:hover .dropbtn {
	background-color: #475382;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

/* 관리자페이지 컨텐츠 영역 */
.admin_content_wrap {
	width: 80%;
	float: left;
	min-height: 700px;
	padding-left: 10px;
	font-size: 14px;
}

.admin_content_subject { /* 관리자 컨텐츠 제목 영역 */
	font-size: 40px;
	font-weight: bolder;
	padding-left: 15px;
	background-color: #6AAFE6;
	height: 80px;
	line-height: 80px;
	color: white;
}

.support_snb {
	float: left;
	width: 180px;
	margin-left: 10px;
	display: inline-block;
}

.support_snb li{
	list-style: square;
	font-size: 19px;
	margin-bottom: 15px;
}

.support_snb li:hover{
	background-color: #4d4d4d;
	color: white;
}

.cscenter_h2 {
	height: 35px;
	padding-bottom: 8px;
	overflow: hidden;
	border-bottom: 2px solid #565656;
}
.content_area{
	width: 80%;
	min-height: 500px;
	float: left;
	margin-left: 25px;
}

.cscenter_shortcut {
    border: 2px solid #199ad8;
    *zoom: 1;
    margin-top: 10px;
    margin-left: 56px;
    width: fit-content;
}

.cscenter_shortcut h3 {
    clear: both;
    float: left;
    width: 158px;
    border-top: 1px solid #aacada;
    font-size: 22px;
    line-height: 32px;
    padding: 33px 0 0 20px;
    height: 50px;
    color: #055ecd;
}

.cscenter_shortcut ul li {
    float: left;
    width: 215px;
}

.cscenter_shortcut ul li a {
    display: block;
    border-left: 1px solid #dadada;
    border-top: 1px solid #aacada;
    padding-top: 57px;
    text-align: center;
    color: #333;
    letter-spacing: -0.05em;
    height: 98px;
    background: url(http://image.kyobobook.co.kr/ink/images/cscenter/icon_shortcut.gif) no-repeat 50% 0;
}

.cscenter_shortcut ul li.item_2 a {
    background-position: 50% -80px;
    background-position-x: 50%;
    background-position-y: -78px;
}

.cscenter_shortcut ul li.item_3 a {
    background-position: 50% -156px;
}

.cscenter_shortcut ul li.item_4 a {
    background-position: 50% -400px;
}

.cscenter_shortcut ul li.item_5 a {
    background-position: 50% -480px;
}

.cscenter_shortcut ul li.item_6 a {
    background-position: 50% -640px;
}

.cscenter_shortcut ul {
    float: left;
    margin-bottom: 0rem;
    padding-left: 0rem;
}
.cscenter_shortcut:after {
    content: '';
    display: block;
    clear: both;
}

.q_Questions{
	border: 2px solid #199ad8;
    margin-top: 50px;
    margin-left: 56px;
    width: 88%;
}

.q_Questions h3{
	position: relative;
    padding: 10px 13px 0 20px;
    height: 29px;
    border-bottom: 1px solid #c8eafa;
    font-size: 23px;
    line-height: 18px;
    color: #444;
    background: url(http://image.kyobobook.co.kr/ink/images/cscenter/bg_search02.gif) repeat-x;
}

.q_Questions h3 small{
	font-size: 16px;
    color: #666;
    font-weight: normal;
    margin-left: 20px;
}

.list-group a{
	font-size: 20px;
	padding: 0.5rem 3rem;
	height: 70px;
    line-height: 55px;
}

#servicelistView{
	display: inline-block;
}

#servicelistView li{
	list-style: square;
}

.accordion-button{
	font-size: 19px !important;
	background: url(http://image.kyobobook.co.kr/ink/images/cscenter/icon_q.gif) 1px 15px no-repeat;
}
.accordion-body{
	background: #f9f9f9 url(http://image.kyobobook.co.kr/ink/images/cscenter/icon_a.gif) 1px 17px no-repeat;
}
.accordion-body #text {
	margin-left: 10px;
}

/* 1:1 QnA  */
 /* 상품 목록 영역 */
.goods_table_wrap{
	padding: 20px 35px
}
.goods_table{
	width: 100%;
    border: 1px solid #d3d8e1;
    text-align: center;
    border-collapse: collapse;
}
.goods_table td{
	padding: 10px 5px;
	border : 1px solid #e9ebf0;
}

.goods_table a{
	color:#1088ed;
	text-decoration: none;
}
.th_column_1{
	width:55px;
}
.th_column_2{
	width:55px;
}
.th_column_3{
	width:140px;
}
.th_column_4{
	width:35px;
}
.th_column_5{
	width:50px;
}

/* 페이지 버튼 인터페이스 */
.pagination{
	justify-content: center;
}
/* float 속성 해제 */
.clearfix {
	clear: both;
}