*{
	margin: 0;
	padding:0;
}
a:not([class]) {
	color : black;
    text-decoration: none;
}

a:not([class]):hover {
    text-decoration: underline;
}
ul{
    list-style: none;
}
/* 제품 목록 네비 */
.navi_bar_area {
  overflow: hidden;
  background-color: #5e6b9e;
}

.navi_bar_area a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdowns {
  float: left;
  overflow: hidden;
  margin-left: 10px;
}

.dropdowns .dropbtn {
  font-size: 16px;
  font-weight: bold;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  width:140px;
}

.dropdown-content {
  display:none ; 
  position: absolute;
  background-color: #f9f9f9;
  width: 466px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  font-size: 12px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: inline-block;
  text-align: left;
  width: 104px;
}

.dropdowns:hover .dropdown-content {
  display: block;
}

.navi_bar_area a:hover, .dropdown:hover .dropbtn {
  background-color: #475382;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

/* 관리제 페이지 상단 현페이지 정보 */
.admin_top_wrap{
    height:110px;
    line-height: 110px;
    background-color: #5080bd;
    margin-bottom:15px;
}
.admin_top_wrap>span{
    margin-left: 30px;
    display:inline-block;
    color: white;
    font-size: 50px;
    font-weight: bolder;
}
/* 관리자 wrap(네비+컨텐츠) */
.admin_wrap{
    
    
}

/* 관리자페이지 네비 영역 */
.admin_navi_wrap{
    width: 20%;
    height: 300px;
    float:left;
    height: 100%;
}
.admin_navi_wrap li{
    display: block;
    height: 80px;
    line-height: 80px;
    text-align: center;
}
.admin_navi_wrap li a{
    display: block;
    height: 100%;
    width: 95%;
    margin: 0 auto;
    cursor: pointer;
    font-size: 27px;
    font-weight: bolder;
}
.admin_navi_wrap li a:link {color: black;}
.admin_navi_wrap li a:visited {color: black;}
.admin_navi_wrap li a:active {color: black;}
.admin_navi_wrap li a:hover {color: black;}
.admin_navi_wrap li a {text-decoration: none;}



.admin_list_03{
    background-color: #c8c8c8;
} 

/* 관리자페이지 컨텐츠 영역 */
.admin_content_wrap{
    width: 80%;
    float:left;
    min-height: 700px;
    padding-left: 10px; 
    font-size: 14px;
}
.admin_content_subject{            /* 관리자 컨텐츠 제목 영역 */
    font-size: 40px;
    font-weight: bolder;
    padding-left: 15px;
    background-color: #6AAFE6;
    height: 80px;
    line-height: 80px;
    color: white;   
}

.password_check {
    padding: 15px;
    background: #fff5fa;
    border-radius: 5px;
    margin-top: 30px;
}
.secede_password_btn {
    vertical-align: middle;
    text-align: center;
    margin-top: 30px;
}

.secedeBtn01 {
    display: inline-block;
    *zoom: 1;
    *display: inline;
}

.password_check .leave_btn .aWhite {
    display: block;
    line-height: 26px;
    padding: 3px 14px 1px 14px;
    background: #df307f;
    border-radius: 3px;
    color: #fff !important;
    font-size: 12px;
    text-decoration: none;
}

/* float 속성 해제 */
.clearfix{
    clear: both;
}